{
    "singleQuote": true,
    "tabWidth": 4,
    "bracketSpacing": false,
    "htmlWhitespaceSensitivity": "ignore",
    "jsxBracketSameLine": true,
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
